.btn-btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: $color-light-skyblue;
    color:$color-light-white;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $color-primary-skyblue;
    }
    &:focus {
      outline: none;
    }
  }