$color-light-grey:#f3f3f3;
$color-ligt-grayish: #ffffff;
$color-orimary-blue: #0e81ce96;
$color-light-blue:  #3474dbb2;
$color-light-white:  #fff;
$color-white: White;
$color-lighter-blue: #1f2c5c;
$color-light-skyblue:#3498db;
$color-primary-skyblue:#2386c8;
$color-primary-purple: #800080;
$color-black: rgba(15, 15, 15, 0.2)